/* body{
    
    color:brown;
    display: flex;
    position: relative;
    image-orientation:from-image;
    text-align: center;
    
    } */
/* .Body{
        display:inline-block;
        vertical-align:text-bottom;
        padding: 1rem;
        border-radius:initial;
        width: 200px;
    } */
button{
        margin-bottom: 4px;
    }

.detalle{
    text-align:center;
    background-color: rgb(226, 33, 33);
    display: flexbox;
    padding : 6px 6px 6px 6px;
    width: 250px;
    font-size: 12px;
    border-right: 100px;
    border-top: 2px;
    margin-left: 550px;
    margin-top: 50px;
    position:relative;
    background-image: url('./img/pokeball.svg');
    
}
h5{
    color: black;
    font-size: 16px;
}

p{
    color: black;
    font-size: 15px;
}